* { 
    margin: 0; padding: 0;
 }
 /*Cabeçalho*/
.logo {
    background-color: black;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
    color: #750dbb;
    text-shadow: #000 2px 2px 0.2rem;
}

header > h1 {
    margin-bottom: 0;
    align-items: center;
    text-align: center;
}

/*Container do slide*/
.slideshow-container {
    max-width: 200px;
    margin: auto;
    align-items: center;
    text-align: center;
  }
  
  /* Ocultar as imagens por padrão */
  .mySlides {
    display: none;
  }
  
  /* Botões slide */
  .prev, .next {
    cursor: pointer;
    
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Posição do botão */
  .next {
    right: 100px;
    border-radius: 3px 0 0 3px;
  }
  
  /*Hover dos botões */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Indicadores do slide */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Animação slide */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(17, 16, 16);
    color: #750dbb;
  }
/*Responsividade*/
  @media (max-width: 1024px) {
    .c1025 {
     display: none;
    }
    }
    
    @media (min-width: 1025px) {
    .u1025 {
     display: none;
    }
    }